body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100;
    padding: 100;
}
h1{
    font-size: 35px;
}
.message {
    position: absolute;
    top: 40.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.form{
    padding: 0;
    width: 0;
}
label{
    display: block; /* For block*/
    margin: 10px 0 10px;
    text-align: left;
}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgb(222, 222, 222);
    /* box-shadow: 0 0 20px rgb(64, 64, 170), 0 0 5px rgb(86, 86, 172); */
}
.B1{
    background-color: rgb(241, 13, 13);
    color: white;
    padding: 10px 15px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    width: 28%;
    box-sizing: border-box;
}
.B2{
    background-color: rgb(7, 197, 7);
    color: white;
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    width: 28%;
    box-sizing: border-box;    
}
.B1:hover{
    background-color: rgb(180, 23, 23);
}
.B2:hover{
    background-color: rgb(64, 177, 42);
}