.screen{
        
    background-color:rgb(255, 255, 255);
    height: 50px;
    width: 17%;
    margin: 25px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 5px 13px rgba(66, 144, 196, 0.7);
    border-radius: 5px;
    border-color:  rgb(81, 156, 197);
    border-style: double;
    border-width: 5px;
}
.container{
    perspective: 1000px;
}
.screen1{
    color: rgb(50, 102, 154);
}
.seat{
    cursor: pointer;
    padding-left: 15px;
    height: 25px;
    width: 20px;
}
.none{
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: #2da511;
    color: white;
}
.none:hover{
    background-color: #0b9639;
}
h1{
    font-size: 40px;
    color: rgb(82, 82, 82);
}
.sold{
    font-size: 15px;
}
.selected{
    font-size: 15px;
}
.available{
    font-size: 15px;
}