*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background: linear-gradient(45deg, #002023,#518898);  

}

.navbar{
    background-color: rgb(2, 42, 37);
    color: #ffffff;
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.7rem;
    font-weight: 700;
}

.heading{
    text-transform: uppercase;
    margin-left: 10px;
}
.admin{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 9vh;
    width: 8vw;
    background-color: #01a5a0;
    color: #ffffff;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.button:hover{
    background-color: #0e7b77;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 84.5vh;
}

.marque{
    margin-top: 20px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(160, 243, 241, 0.5);
    border-radius: 10px;
    width: 30%;
    height: 67vh;
    margin-top: -90px;

}

.users{
    width: 80%;
    height: 90%;
}
h1{
    font-size: 2.6rem;
    text-align: center;
    margin: 20px;
}

.descript{
    margin: 10px 0 20px 0;
    text-align: center;

}

h2{
    display: block;
    margin: 20px 0 10px 0;
    text-align: left;
}
input{
    width: 100%;
    padding: 8px 8px 8px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(69, 69, 69);
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(1, 205, 202, 0.5);
    font-size: 1rem;
    background-color: azure;
    color: rgb(63, 63, 63);
}

input::placeholder{
    font-size: 1rem;
    color: #b6b6b6;
}

.butt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 20px 0;
}

.b1{
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 10px 15px;
    margin-right: 15px;
    cursor: pointer;
    width: 35%;
    box-sizing: border-box;
    transition: all 0.5s;

}
.b2{
    background-color: #01a5a0;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
    width: 35%;
    margin-left: 15px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.5s;

}
.b1:hover{
    background-color: rgb(170, 10, 10);
}
.b2:hover{
    background-color: #0e7b77;
}

.end{
    font-size: 0.9rem;
    text-align: center;
}