* {
    margin:0;
    padding:0;
  }
  
  .button{
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: black;
      color: rgb(255, 255, 255);
      background: linear-gradient(360deg, #1f0101,#560505, #8a5c5c);

      /* background-color: #ad2645; */
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #ece6e6;
      margin: 4px 8px;
  }
  .button:hover{
      background-color: #393737;
      color: antiquewhite;
  }
  .button:active{
      color: antiquewhite;
      background-color: #545050;
      box-shadow: 0 5px #999;
      transform: translateY(4px);
  }
  h2{
      
       color: white;
       font-size: 70px;
       text-shadow: 4px 4px 6px rgb(12, 0, 0), 0 0 45px rgb(1, 1, 214), 0 0 20px rgb(4, 4, 173);
       display: inline-block;
      
      
  }
  h1{
      
       padding: 0px 20px;
       font-size: 80px;
       color: transparent;
       margin: 0;
       line-height: 1;
       text-transform: uppercase;
       background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #008dad, #ff0000);
       -webkit-background-clip: text;
       animation: animate 1s linear infinite;
       -webkit-background-size: 500%;
       background-size: 500;
       text-align: center;
       /* text-shadow: 5px 5px 10px white; */
  }
  @keyframes animate{
      0%{
          background-position: 0 100%;
      }
      50%{
          background-position: 100% 0;
      }
      100%{
          background-position: 0 100%;
      }
  }
  h3{
      text-shadow: 4px 4px 6px rgb(12, 0, 0), 0 0 45px rgb(1, 1, 214), 0 0 20px rgb(4, 4, 173);
  }
  div.A1{
      width: 100%;
      background-image: url('theater.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* position: relative; */
      height: 742px;
  }
  div.A2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-top: 10px;
    left: 50%;
    transform: translate(-0%, -15%);
    background-image: url('image.jpg');
    border: 2px solid black;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  marquee{
      color: #ffffff;
  }

  